{% extends "base.html" %}

{% block title %}Admin{% endblock title %}

{% block body %}

  <div class='row'>
    <div class='col-sm-6'>
      <legend>
        Categories
        <button class='btn btn-small btn-default pull-right' data-toggle="modal" data-target='#modal-new-category'>Add</button>
      </legend>
      <ul class="list-group">
      {% for category in categories %}
        <li class="list-group-item">{{category.title}}</li>
      {% endfor %}
      </ul>
    </div>
    <div class='col-sm-6'>
      <legend>
        Books
        <button class='btn btn-small btn-default pull-right' data-toggle="modal" data-target='#modal-new-book'>Add</button>
      </legend>
      <ul class="list-group">
      {% for book in books %}
        <li class="list-group-item">{{book.title}}</li>
      {% endfor %}
      </ul>
    </div>
    </div>
  </div>

  <div id='modal-new-category' class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <form class="modal-content" action="/new-category" method="POST">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Add Category</h4>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" id="title" name="title" required placeholder="Enter category title">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
  </div>

  <div id='modal-new-book' class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <form class="modal-content form-horizontal" action="/new-book" method="POST">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Add Book</h4>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="username" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="title" name="title" required>
            </div>
          </div>

          <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Category</label>
            <div class="col-sm-10">
              <select name="category_id" class="form-control" required>
                {% for category in categories %}
                  <<option value={{category.id}}>{{category.title}}</option>
                {% endfor %}
              </select>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
  </div>

{% endblock body %}
