<!DOCTYPE html>
<html >
  <head>

    <title>{% block title %}E-Library Platform{% endblock title %}</title>

    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/app.css" />

  </head>

  <body>

    <div class="container">

        {% block header %}

        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a></li>
                    {% if user %}
                    <li role="presentation"><a href="/sign_out">Sign Out</a></li>
                    {% else %}
                    <li role="presentation"><a href="/sign_in">Sign In</a></li>
                    <li role="presentation"><a href="/sign_up">Sign Up</a></li>
                    {% endif %}
                </ul>
            </nav>
            <h3 class="text-muted">E-Library</h3>
        </div>

        {% endblock header %}

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-info" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {% if form %}
          {% if form.errors %}
            <div class="alert alert-info" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              {% for field, errors in form.errors.items() %}
                  {{ form[field].label }}: {{ ', '.join(errors) }}
              {% endfor %}
            </div>
          {% endif %}
        {% endif %}

        {% block body %}{% endblock body %}

    </div>

    <footer class="footer text-center">
      <p>&copy; e-library 2017</p>
    </footer>

    <script src="/static/jquery.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>
