<!DOCTYPE html>
<html >
  <head>
    
    <title>Signin </title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <link href="../static/css/viewpoint.css" rel="stylesheet">

    <link href="../static/css/signin.css" rel="stylesheet">

    
    </head>

  <body>

    <div class="container">
      {% if form.error %}
      <div>{{form.error}}</div>
      {% endif %}

      <form class="form-signin" method="Post">
        <h2 class="form-signin-heading">Login to access our catalog</h2>
        <label for="inputName" class="sr-only">Your Name</label>
        {{form.username(id="inputName", class="form-control", 
        placeholder="Username", autofocus="autofocus")}}
        <label for="inputPassword" class="sr-only">Password</label>
        {{form.password(id="inputPassword", class="form-control",
         placeholder="Password")}}
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> 
  
  <footer class="footer">
            <p>&copy; e-library 2017</p>
  </footer>
 
</html>
